# ==========================================
# AI (Python 3.11)
# ==========================================

# communication bridge
pyzmq
orjson
python-dotenv

# LangChain & LangGraph
langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain-openai
notebook
langchain-tavily
wikipedia
trustcall
langgraph-cli[inmem]

# LLM connection
langchain-openai
langchain-ollama

# tools
# web search
tavily-python

# RAG
faiss-cpu
tiktoken
